<div dir="rtl">


    <div class="main">
        <h2>طريقة الإستخدام</h2>
        <hr>
        <div class="continer">
            <div class="row">
                <div class="col-md-4 circle">
                    <div class="circle1">1</div>
                </div>
                <div class="col-md-3">
                    <h4> عندما تبدأ بالبحث ستظهر لك هذه الصفحة و سيطلب منك ملئ بعض البيانات الخاصة بالشخص المفقود و
                        سترفع صورة واضحة للشخص و ستبدأ البحث و تنتظر قليلا حتي يتم البحث في قاعدة البيانات</h4>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid im1" src="../../../assets/HTU/1.png">
                </div>



                <div class="col-md-2 circle">
                    <div class="circle2 ">2</div>
                </div>
                <div class="col-md-5">
                    <h4> اذا كان الشخص المفقود ليس موجود او لم يتم ايجاده بعد سيتم طلب منك ادخال بعض البيانات الاخري
                        لتسهيل عملية البحث و سيتم ارسال رساله لك عندما يتم ايجادة</h4>
                </div>
                <div class="col-md-5 pt-2">
                    <img class="img-fluid" src="../../../assets/HTU/3.png">

                </div>
            </div>
        </div>
    </div>
    <div class="main2 pt-2">
        <div class="continer">
            <div class="row">
                <div class="col-md-2 circle">
                    <div class="circle3">3</div>
                </div>
                <div class="col-md-5">
                    <h4> اذ كان الشخص المفقود موجود في قاعدة البيانات سيتم عرض التفاصيل الخاصة به </h4>
                </div>
                <div class="col-md-5">
                    <img class="img-fluid " src="../../../assets/HTU/8.png">

                </div>
                <div class="col-md-2 circle">
                    <div class="circle4">4</div>
                </div>
                <div class="col-md-5">
                    <h4>سوف يمكنك في هذه الصفحة مراجعة البيانات و سنوفر لك تحديد مكان القسم الذي تم التبليغ فيه و مكان
                        الملجئ الذي تم ارسالة اليه</h4>
                </div>
                <div class="col-md-5 pt-2">
                    <img class="img-fluid" src="../../../assets/HTU/9.png">

                </div>
            </div>

        </div>
    </div>