.flag{
    position: absolute;
    right:32% !important;
    top: 3%;
    width: 200px !important;
    text-align: center;
    color: #fff;
    border-bottom-right-radius:7px ;
    border-top-left-radius:7px ;
  

}
@import "../admin-report/admin-report.component.scss"