<section>
    <div class="container py-5" dir="rtl">
        <div class="my-2 prof">
            <img src="../../assets/imgs/n2.jpg">
        </div>
        <div class="row align-items-center p-3">
            <div class="col-md-4 my-2">
                <div class="select p-3 d-flex justify-content-center align-items-center bg-light">
                    <div class="select_overLay p-3 d-flex justify-content-center align-items-center  ">
                        <div class="w-100">
                            <div class="optionBodyItem mb-2">
                                <h4 class="">عرض البلاغات</h4>
                            </div>
                            <div class="optionBodyItem  mb-2">
                                <h4 class="">الارشيف</h4>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <i class="fa fa-file fa-5x my-3"></i>
                        <h3>البلاغات</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="select p-3 d-flex justify-content-center align-items-center bg-light">
                    <div class="text-center">
                        <i class="fa fa-file fa-5x my-3"></i>
                        <h3>البلاغات</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="select p-3 d-flex justify-content-center align-items-center bg-light">

                    <div class="text-center">
                        <i class="fa fa-file fa-5x my-3"></i>
                        <h3>البلاغات</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="select p-3 d-flex justify-content-center align-items-center bg-light">
                    <div class="text-center">
                        <i class="fa fa-file fa-5x my-3"></i>
                        <h3>البلاغات</h3>
                    </div>
                </div>
            </div>
            <div class="col-4 my-2">
                <div class="select p-3 d-flex justify-content-center align-items-center bg-light">
                    <div class="text-center">
                        <i class="fa fa-file fa-5x my-3"></i>
                        <h3>البلاغات</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>