<div class="missingFormContainer my-3  p-2 w-100 d-flex justify-content-center align-items-center">
    <form enctype="multipart/form-data" [formGroup]="addMissing" class="myform mb-2" (ngSubmit)="addMissing.valid && handelAddMissing() ">
        <div class="row p-2" dir="rtl">
            <div class="col-md-12 text-center  my-2">
                <h3>بيانات اليتيم</h3>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="name" [class.is-valid]="addMissing.controls.name.status == 'VALID' "
                        class="form-control" type="text" placeholder="الاسم">
                    <i class="fa fa-user"></i>
                </div>
                <div *ngIf="addMissing.controls.name.errors && addMissing.controls.name.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال اسم مستخدم صحيح</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="age" [class.is-valid]="addMissing.controls.age.status == 'VALID' "
                        class="form-control" min="1"  type="number" placeholder="العمر">
                    <i class="fa fa-child"></i>
                    
                </div>
                <div *ngIf="addMissing.controls.age.errors && addMissing.controls.age.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال اسم مستخدم صحيح</p>
                </div>
            </div>

            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <select formControlName="city" class="form-select" aria-label="Default select example">
                        <option value="القاهره" selected> القاهره</option>
                        <option value="1">الجيزه</option>
                        <option value="2">قليوبيه</option>
                        <option value="3">اسوان</option>
                    </select>
                    <i class=" fa fa-map"></i>
                </div>
                <div *ngIf="addMissing.controls.city.errors && addMissing.controls.city.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال اسم المحافظه</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <select formControlName="shelterName" class="form-select">
                        <option value="الملاجئ" selected> الملاجي</option>
                        <option value="1">الجيزه</option>
                        <option value="2">قليوبيه</option>
                        <option value="3">اسوان</option>
                    </select>
                    <i class="fa fa-house-user"></i>
                </div>
                <div *ngIf="addMissing.controls.shelterName.errors && addMissing.controls.shelterName.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال اسم دار الرعايه</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input  name="image" [class.is-valid]="addMissing.controls.image.status == 'VALID' "
                        formControlName="image" type="file" class="form-control" (change)="selectImage($event)">

                </div>
                <div *ngIf="addMissing.controls.image.errors && addMissing.controls.image.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاءادراج صوره صحيحه</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="row">
                    <div class="col-4">
                        <div class="p-2">
                            النوع :
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-2">
                            <input  name="gender"  formControlName="gender" type="radio" id="huey" value="male" checked>
                            <label for="huey">ذكر</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="p-2">
                            <input type="radio" id="dewey" formControlName="gender" name="gender" value="female">
                            <label for="dewey">انثي</label>
                        </div>
                    </div>
                    <div *ngIf="addMissing.controls.gender.errors && addMissing.controls.image.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاءادراج صوره صحيحه</p>
                </div>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input  [class.is-valid]="addMissing.controls.foundTime.status == 'VALID' "
                        formControlName="foundTime" type="datetime-local" class="form-control">

                </div>
                <div *ngIf="addMissing.controls.foundTime.errors && addMissing.controls.foundTime.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاءادخال التاريخ والوقت صحيح </p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <textarea [class.is-valid]="addMissing.controls.description.status == 'VALID' "
                        formControlName="description" class="form-control" placeholder="وصف عام" id="floatingTextarea2"
                        style="height:25px"></textarea>
                </div>
                <div *ngIf="addMissing.controls.description.errors && addMissing.controls.description.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال الوصف</p>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class="p-2">
                    <hr>
                </div>
            </div>
            <div class="col-md-12 text-center  my-2">
                <h3>بيانات المبلغ</h3>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="finderName"
                        [class.is-valid]="addMissing.controls.finderName.status == 'VALID' " class="form-control"
                        type="text" placeholder="الاسم">
                    <i class="fa fa-user"></i>
                </div>
                <div *ngIf="addMissing.controls.finderName.errors && addMissing.controls.finderName.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال اسم مستخدم صحيح</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="nationID" [class.is-valid]="addMissing.controls.nationID.status == 'VALID' "
                        class="form-control" min="1" type="number" placeholder="الرقم القومي">
                    <i class="fa fa-id-card"></i>
                </div>
                <div *ngIf="addMissing.controls.nationID.errors && addMissing.controls.nationID.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال رقم القومي الصحيح</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="phoneNumber"
                        [class.is-valid]="addMissing.controls.phoneNumber.status == 'VALID' " class="form-control"
                        type="number" placeholder="رقم الهاتف">
                    <i class="fa fa-mobile"></i>
                </div>
                <div *ngIf="addMissing.controls.phoneNumber.errors && addMissing.controls.phoneNumber.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال رقم الهاتف الصحيح</p>
                </div>
            </div>
            <div class="col-md-6 my-2">
                <div class="form-group my-2">
                    <input formControlName="finderEmail" [class.is-valid]="addMissing.controls.finderEmail.status == 'VALID' "
                        class="form-control" type="email" placeholder="البريد الالكتروني">
                    <i class="fa fa-envelope"></i>
                </div>
                <div *ngIf="addMissing.controls.finderEmail.errors && addMissing.controls.finderEmail.touched"
                    class="form-group alert alert-danger my-2">
                    <p> برجاء ادخال بريد الالكتروني صحيح</p>
                </div>
            </div>
            <div class="col-md-12 my-2">
                <div class="form-group my-2 text-center">
                    <button [disabled]="addMissing.invalid" class="form-control" class="btn btn-danger w-100">
                        اضافه</button>
                </div>
            </div>
        </div>
    </form>
</div>