<div class="ball"></div>
<div class="big container" dir="rtl">
  <div class="row w-100 h-100">

    <div class="rightContent col-md-6 d-flex justify-content-center">
      <div>
        <div ><img class="mainword img-fluid" src="../../../assets/imgs/logo.png"></div>
        <a class="btn1 btn btn-primary px-4 ">تابعنا علي الفيسبوك</a>
        <a class="btn1 btn btn-primary  px-5">تنزيل تطبيقنا</a>
        <div> <a [routerLink]="['/searchReport']" class="btn2 btn btn-primary mt-3 ">إبدأ البحث</a>
        </div>
        <div class="mt-5"> <a  href="" class="btn3 mt- mx-2 px-5 typewrite" data-period="2000" data-type='[ "حافظ علي ارتداء الكمامة", "لكي تحافظ علي صحتك", "و علي الأخرين", "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️" ]'>
         <span class=" wrap"></span>
       </a> 
        </div>
      </div>
      <div>
      </div>

    </div>
    <div class="leftPhoto col-md-6">
      <img class="new img-fluid" src="../../../assets/imgs/Untitled-1.png">
      <div class="smoll-ball"></div>
    </div>
  </div>
  <div class="row">

  </div>
</div>



<div class="container marketing" dir="rtl">

  <!-- Three columns of text below the carousel -->
  <div class="row ">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family.png" >

      <h2>عنوان</h2>
      <p>ان وتم عجّل الأجل, قبل نتيجة المشترك بـ, أي جعل جورج أوزار المسرح. أن وإعلان الساحل تلك, مكن ان استبدال الباهضة التكاليف. الى ماذا اليميني الحكومة في, إجلاء نتيجة قبل تم. مساعدة بولندا، أي هذه الحكم.</p>
      <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family2.png" >

      <h2>عنوان</h2>
      <p>هو أخر إتفاقية الدولارات الأوروبيّون, ثانية طوكيو و به،, ونتج أعمال مما أم. عن الا يونيو أفريقيا, السيطرة التقليدي ومن ٣٠. هو الغالي الإتفاقية ويكيبيديا، مكن, و الى هُزم اعتداء وايرلندا. وقبل بمباركة الأوروبيّون عن فقد, بتحدّي والفلبين ما كلا.</p>
      <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family2.png" >
  
        <h2>عنوان</h2>
        <p>هو أخر إتفاقية الدولارات الأوروبيّون, ثانية طوكيو و به،, ونتج أعمال مما أم. عن الا يونيو أفريقيا, السيطرة التقليدي ومن ٣٠. هو الغالي الإتفاقية ويكيبيديا، مكن, و الى هُزم اعتداء وايرلندا. وقبل بمباركة الأوروبيّون عن فقد, بتحدّي والفلبين ما كلا.</p>
        <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
      </div><!-- /.col-lg-4 -->
      
    <div class="col-lg-1"></div>
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">العنوان الأول المميز. <span class="text-muted"> سيذهل عقلك. </span></h2>
      <p class="lead">في التخطيط التجارية هذا, إذ هذه الشمل موالية الخاطفة. أحدث وبدون اتفاق من غير, جعل عل أطراف مشاركة الأعمال. بل الى قادة واحدة, لهيمنة التجارية حتى ثم. هو وبالرغم ابتدعها بال. بوابة ماشاء أما أي, ما وفي أحكم غريمه التقليدية.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">أوه نعم ، هذا جيد. <span class="text-muted"> شاهد بنفسك. </span></h2>
      <p class="lead">صفحة وحرمان الأراضي أم أخذ, قد ذلك الثقيلة المتاخمة وبريطانيا. أخذ أن اللا لإعلان لهيمنة, وفي كل موالية الشّعبين. تكاليف الخاسرة لمّ لم, إذ بحق موالية الثقيلة. العظمى والفلبين تم عرض, جمعت شعار الحرة حيث بل. عرض و وترك اللازمة.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">وأخيرًا ، هذا. <span class="text-muted"> كش ملك. </span></h2>
      <p class="lead">تحرّك أراضي هذا عن, كرسي وكسبت يتم بل. بحق بل القوى وفنلندا, الجو واُسدل التكاليف وتم تم, بسبب ا السادس كان أن. وبعد ميناء من بلا, تصفح يتبقّ تلك هو. ان دول بخطوط وإعلان ومطالبة, المزيفة الأوروبية، عل حدى قام.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>


  <!-- /END THE FEATURETTES -->

</div>