<div class="ball"></div>
<div class="big container" dir="rtl">
  <div class="row w-100 h-100">

    <div class="rightContent col-md-6 d-flex justify-content-center">
      <div>
        <div><img class="mainword img-fluid" src="../../../assets/imgs/logo.png"></div>
        <a class="btn1 btn btn-primary px-4 ">تابعنا علي الفيسبوك</a>
        <a class="btn1 btn btn-primary  px-5">تنزيل تطبيقنا</a>
        <div> <a [routerLink]="['/searchReport']" class="btn2 btn btn-primary mt-3 ">إبدأ البحث</a>
        </div>
        <div class="mt-5"> <a href="" class="btn3 mt- mx-2 px-5 typewrite" data-period="2000"
            data-type='[ "حافظ علي ارتداء الكمامة", "لكي تحافظ علي صحتك", "و علي الأخرين", "❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️" ]'>
            <span class=" wrap"></span>
          </a>
        </div>
      </div>
      <div>
      </div>

    </div>
    <div class="leftPhoto col-md-6">
      <img class="new img-fluid" src="../../../assets/imgs/Untitled-1.png">
      <div class="smoll-ball"></div>
    </div>
  </div>
  <div class="row">

  </div>
</div>



<div class="container marketing pb-5" dir="rtl">

  <!-- Three columns of text below the carousel -->
  <!-- <div class="row ">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family.png" >

      <h2>عنوان</h2>
      <p>ان وتم عجّل الأجل, قبل نتيجة المشترك بـ, أي جعل جورج أوزار المسرح. أن وإعلان الساحل تلك, مكن ان استبدال الباهضة التكاليف. الى ماذا اليميني الحكومة في, إجلاء نتيجة قبل تم. مساعدة بولندا، أي هذه الحكم.</p>
      <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
    </div>
    <div class="col-lg-3">
      <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family2.png" >

      <h2>عنوان</h2>
      <p>هو أخر إتفاقية الدولارات الأوروبيّون, ثانية طوكيو و به،, ونتج أعمال مما أم. عن الا يونيو أفريقيا, السيطرة التقليدي ومن ٣٠. هو الغالي الإتفاقية ويكيبيديا، مكن, و الى هُزم اعتداء وايرلندا. وقبل بمباركة الأوروبيّون عن فقد, بتحدّي والفلبين ما كلا.</p>
      <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
    </div>
    <div class="col-lg-3">
        <img class="bd-placeholder-img rounded-circle" src="../../../assets/imgs/family2.png" >
  
        <h2>عنوان</h2>
        <p>هو أخر إتفاقية الدولارات الأوروبيّون, ثانية طوكيو و به،, ونتج أعمال مما أم. عن الا يونيو أفريقيا, السيطرة التقليدي ومن ٣٠. هو الغالي الإتفاقية ويكيبيديا، مكن, و الى هُزم اعتداء وايرلندا. وقبل بمباركة الأوروبيّون عن فقد, بتحدّي والفلبين ما كلا.</p>
        <p><a class="btn btn-secondary" href="#" role="button">عرض التفاصيل</a></p>
      </div>
    <div class="col-lg-1"></div>
  </div> -->
  <!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"> اخر الاحصائيات عن الاطفال المفقوده في مصر </h2>
      <p class="lead"> هناك أكثر من ثلاثة آلاف طفل مفقود في مصر حتى هذه اللحظة. وأكدت الدراسة
        أن 30% فقط من حالات الخطف يتم الإبلاغ عنها في حينها، و70% تتأخر مما يعطل الإجراءات الأمنية خوفاً علي أرواح
        المختطفين، و88% تكون بسبب طلب فدية وابتزاز دون معرفة سابقة بأسرة المختطف،
        و95% من حالات الخطف لغرباء ورجال أعمال لطلب فدية مرتفعة، وأن 70%كانوا يستجيبون لمطالب دفع الفدية</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="../../assets/imgs/213049011_844745432903937_6346799913091131439_n.png">
      

    </div>
  </div>

  <hr class="featurette-divider">

 
  <div class="row featurette">
    <div class="col-md-7">
      <p class="lead">هناك عدد قليل من الإحصاءات الشاملة والموثوقة حول عدد الأشخاص الذين فُقدوا أو اختفوا في جميع أنحاء العالم نتيجة للاتجار بالبشر والعنف المرتبط بالمخدرات والهجرة. وحتى أنّ عدد الأشخاص المفقودين بسبب النزاعات المسلحة وانتهاكات حقوق الإنسان يصعب التحقق منه، بالرغم من رصده بشكل مكثف؛ وذلك بسبب تردد معظم الدول في التعامل مع هذه القضية بأمانة وفعالية.</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="../../assets/imgs/212452852_228823279061412_9029654550962803556_n.png">
      

    </div>
  </div>



  <!-- /END THE FEATURETTES -->

</div>